version: '3.9'

services:

  web_nginx:
    container_name: "web"
    image: nginx:alpine
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - ./app/conf.d:/etc/nginx/conf.d
    networks:
      - custom


  app:
    container_name: "app"
    image: app
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.example
    depends_on:
      - database
      - database_test
      - redis_app_api
    networks:
      - custom

  database:
    image: postgres
    restart: always
    container_name: "database"
    env_file:
      - .env.example
    command: -p 5437
    expose:
        - 5437
    ports:
      - "5437:5437"
    networks:
      - custom

  database_test:
    image: postgres
    restart: always
    container_name: "database_test"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres_test
      - POSTGRES_PASSWORD=postgres
    command: -p 5438
    expose:
      - 5438
    ports:
      - "5438:5438"
    networks:
      - custom

  redis_app_api:
    image: redis
    restart: always
    env_file:
      - .env.example
    container_name: "redis_app_api"
    command: --port 6000
    expose:
        - 6000
    ports:
      - "6000:6000"
    networks:
      - custom

networks:
  custom:
    driver: bridge
