version: '3.9'

services:

  database:
    image: postgres
    restart: always
    container_name: database
    env_file:
      - .env
    ports:
      - "5435:5432"

  database_test:
    image: postgres
    restart: always
    container_name: database_test
    environment:
      POSTGRES_DB: "finance_test"
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "admin"
    ports:
      - "5436:5432"

  redis:
    image: redis
    restart: always
    env_file:
      - .env
    container_name: redis_app
    ports:
      - "5378:6379"


