  /* Стили для header */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #aca9a9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav li {
    list-style-type: none;
    padding: 0 10px;
  }


  main {
    background: #dddcdc;
  }

  html {
    background: #f3f2f2;
  }

  #btn_report_email {
      color: white;
      background-color: blue;
    }

  button {
    font-size: 25px;
    background-color: beige;
  }



  #addEntry.show {
    display: block;
  }

  /* Стили для формы */
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  form label {
    margin-right: 10px;
  }
  form input,
  form select {
    flex: 1;
    padding: 5px;
  }


  #balanceDiv {
      background-color: #230172;
      color: #ffffff;
      border: 3px solid #ccc;
      padding: 10px;
      margin-top: 0px;
  }

   /* Стили для выбора категорий в вкладке "Мой кабинет" */
  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  .dropdown-content a {
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .dropdown-content a:hover {
      background-color: #f9f9f9;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

   /* Стили для отображение данных о пользователе" */
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;

  }
  .card {
      border: none;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .card-body {
      padding: 50px;
  }
  .card-title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
  }
  .list-group-item {
      border: none;
      font-size: 25px;
  }

   /* Стили для формы "Изменение данных" */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  /* Стилизация таблицы для получение транзакции */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }