  /* Стили для header */
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #aca9a9;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
  nav li {
    list-style-type: none;
    padding: 0 10px;
  }


  main {
    background: #dddcdc;
  }

  html {
    background: #f3f2f2;
  }

  button {
    font-size: 25px;
    background-color: beige;
  }


  /* Стили для формы */
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  form div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  form label {
    margin-right: 10px;
  }
  form input,
  form select {
    flex: 1;
    padding: 5px;
  }